@charset "UTF-8";
/* CSS Document */
/* ----- TOP NAV ----- */
.top-nav-wrap {
  margin-bottom: -1.75em;
  position: relative;
  z-index: 3;
  padding: 0 1.5em; }

.top-nav {
  max-width: 1440px;
  margin: auto; }

.top-nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #19656a;
  background: #22a4ac;
  border-radius: 100px;
  background: #27484a;
  background: #27353c; }

.top-nav .menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  .top-nav .menu li {
    list-style: none;
    margin: 0;
    padding: 0; }
    .top-nav .menu li a {
      display: inline-block;
      vertical-align: top;
      font-size: 0.8em;
      padding: 1.5em 1.25em 1.5em 1.75em;
      color: #fff;
      font-weight: 100;
      text-transform: uppercase;
      font-family: 'Oswald';
      letter-spacing: 2.5px; }
      .top-nav .menu li a:hover {
        color: #e1cd83; }
    .top-nav .menu li.about a {
      color: #fff;
      border-radius: 100px 0 0 100px; }
    .top-nav .menu li.contact {
      margin-left: auto !important; }
      .top-nav .menu li.contact a {
        color: #fff;
        background: #b59b39;
        font-weight: 500 !important;
        border-radius: 0 100px 100px 0; }
        .top-nav .menu li.contact a:hover {
          background: #92decd !important; }
    .top-nav .menu li.current-menu-item a {
      background: #92decd; }
      .top-nav .menu li.current-menu-item a:hover {
        color: #fff; }

.single-project .top-nav .menu-item-58 a {
  background: #92decd; }
  .single-project .top-nav .menu-item-58 a:hover {
    color: #fff !important; }

/* ---------- FOOTERNAV ---------- */
.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0; }
  .footer-menu li {
    list-style: none;
    padding: 0;
    margin: 0; }
    .footer-menu li a {
      display: block;
      font-family: "Oswald";
      padding: 0.25em 0.75em 0.25em 0;
      transition: .3s;
      -moz-transition: .3s;
      -webkit-transition: .3s; }

.footer-menu li a:hover,
.footer-menu .current-menu-item a,
.single-project .footer-menu .menu-item-58 a {
  color: #92decd; }

.footerNav .menu li .home:hover,
.footerNav .menu li .home.active:hover {
  border-left: 0.5em solid #11505D;
  border-right: 7em solid #11505D;
  padding: 0.25em 0.75em;
  border-right: 2em solid #11505D; }

.footerNav .menu li .home.active {
  border: none;
  padding: 0.25em 0.75em 0.25em 0; }

/* CSS Document */
/* ----------------------------------------------- COMMON STYLES --- */
/* ----- Subheader ----- */
.not-front .headerWrapOuter {
  height: 400px; }

.subHeader {
  padding-top: 150px; }

@media (max-width: 620px) {
  .not-front .header {
    padding-top: 1em; }

  .not-front .myName {
    font-size: 2.25rem; }

  .not-front .myTag {
    font-size: 1.5rem; } }
#block-block-4 {
  margin-left: -820px; }

/* ----- Page Title ----- */
.not-front #page-title {
  margin-bottom: 1em;
  text-align: center; }

/* ----------------------------------------------- CONTACT --- */
/* ----- Contact Form ----- */
.nf-before-form-content,
.nf-error-msg {
  display: none; }

.nf-form-cont .nf-field-element {
  position: relative;
  margin: 0 0.5em 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.nf-form-cont .nf-field-element input,
.nf-form-cont .nf-field-element textarea {
  -webkit-box-shadow: 0 2px 15px 2px #ddd;
          box-shadow: 0 2px 15px 2px #ddd; }

.nf-form-cont .nf-field-element input,
.nf-form-cont .nf-field-element textarea {
  padding: 20px 0 20px 18%;
  width: 100%;
  border: none;
  background: none;
  font-size: 0.8em;
  line-height: 1;
  font-weight: 300;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

/* ----- CHECKBOX & RADIO LIST ----- */
.nf-form-cont .nf-row:nth-child(3) nf-cells {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 2em 0 3em; }

.nf-form-cont .nf-row:nth-child(3) .nf-cell {
  width: 48% !important;
  padding: 0 1em; }

.nf-form-cont .nf-field-element li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
  margin-top: 3em !important; }

.nf-form-cont .nf-field-element input[type='checkbox'],
.nf-form-cont .nf-field-element input[type='radio'] {
  padding: 0.75em;
  -webkit-appearance: none;
  margin-right: 1em;
  position: relative; }

.nf-form-cont .nf-field-element input.nf-checked[type='checkbox'],
.nf-form-cont .nf-field-element input.nf-checked[type='radio'] {
  background: #92decd; }

.nf-form-cont .nf-field-element input.nf-checked:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0.75em;
  color: #fff;
  font-family: FontAwesome;
  z-index: 5;
  content: "\f00c"; }

.nf-form-cont .nf-field-element input[type='radio'] {
  border-radius: 50%; }

.nf-form-cont .nf-field-element input.nf-checked[type='radio']:before {
  content: "\f111";
  font-size: 0.5em; }

.nf-form-cont .nf-field-element textarea {
  padding-left: 9%;
  padding-top: 1.5em; }

.nf-form-cont .nf-field-element:before,
.nf-form-cont .email-container .nf-field-element:before,
.nf-form-cont .textarea-container .nf-field-element:before {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75em 1em;
  background: #e1cd83;
  background: #797c8b;
  color: #fff;
  font-family: FontAwesome;
  z-index: 5; }

.nf-form-cont .textbox-container .nf-field-element:before {
  content: "\f007"; }

.nf-form-cont #nf-field-12-wrap .nf-field-element:before {
  content: "\f095"; }

.nf-form-cont .email-container .nf-field-element:before {
  content: "\f0e0";
  padding: 0.75em 0.9em; }

.nf-form-cont #nf-field-13-container .nf-field-element:before {
  content: "\f0c0";
  padding: 0.75em 0.9em; }

.nf-form-cont .textarea-container .nf-field-element:before {
  content: "\f0e6";
  padding: 1.25em 1.35em;
  font-size: 0.8em; }

.nf-form-cont .submit-wrap input {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  background: none;
  padding: 0.75em 2.5em;
  text-decoration: none;
  border: 3px solid #414141;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -webkit-appearance: none;
  font-family: "museo-slab"; }

.nf-form-cont .submit-wrap input:hover {
  cursor: pointer;
  background: #444;
  color: #e1cd83;
  padding: 0.75em 4em 0.75em 1em; }

.nf-form-cont .submit-wrap .nf-field-element {
  width: auto;
  position: relative;
  overflow: hidden; }

.nf-form-cont .submit-wrap .nf-field-element:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  right: -2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "\f0e0";
  color: #e1cd83;
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  pointer-events: none; }

.nf-form-cont .submit-wrap .nf-field-element:hover:after {
  right: 1.5em; }

/* ----- CONTACT SOCIAL ----- */
.contact-social-card {
  padding: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .contact-social-card .contact-sc-icon {
    padding-right: 1em; }
  .contact-social-card i {
    font-size: 2em; }
  .contact-social-card .sc-text-main,
  .contact-social-card .sc-text-tag {
    margin: 0;
    line-height: 1.5; }
  .contact-social-card .sc-text-main {
    font-weight: 700;
    text-transform: uppercase; }
  .contact-social-card .sc-text-tag {
    font-size: 0.9em;
    color: #777; }

.contact-social-card-odd {
  background: #f7f7f7; }

/* ----------------------------------------------- ABOUT --- */
.about-sect-tj .custom-html-widget {
  max-width: 1320px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.about-sect-tj-img,
.aboutBioStory {
  width: 48%; }

.aboutBio img.fltRight {
  position: absolute;
  bottom: -6.25em;
  right: -150px;
  z-index: -1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

@media (max-width: 900px) {
  .aboutImg {
    font-size: 0;
    line-height: 0;
    text-align: center; }

  .aboutBio img.fltRight {
    position: static;
    float: none;
    margin: 0; } }
/* ----- COMMON ----- */
.widget.content-bottom .custom-html-widget {
  max-width: 1320px;
  margin: auto; }

/* --------------------------------------------- COMMENTS -- */
* + .livefyreComment {
  margin-top: 3em;
  -webkit-box-shadow: 1px 0 3px #ccc;
          box-shadow: 1px 0 3px #ccc;
  padding: 1em;
  background: #fff; }

.livefyreComment .fyre-stream-stats {
  background: #ccc;
  padding: 0.5em 1em;
  margin: -1.125em -1.125em 0; }

.livefyreComment .fyre-login-bar .fyre-user-loggedout,
.livefyreComment .fyre-login-bar .fyre-user-loggedout:hover {
  border: 3px solid #555;
  padding: 0.5em 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.livefyreComment .fyre-login-bar .fyre-user-loggedout:hover {
  color: #fff;
  color: #e1cd83;
  background: #15b9de;
  background: #e1cd83;
  background: #414141; }

.livefyreComment .fyre-editor,
.livefyreComment .fyre-editor-container,
.livefyreComment #fyre-editor-3,
.livefyreComment .fyre-editor iframe {
  border-radius: 0 !important;
  background: none !important;
  border: none !important;
  -webkit-box-shadow: none;
          box-shadow: none; }

.livefyreComment .fyre-editor {
  margin-top: 100px;
  -webkit-box-shadow: 0 0 15px 5px #aaa;
          box-shadow: 0 0 15px 5px #aaa;
  background: #f7f7f7 !important; }

/* -------------------------------------------- SERVICES PG -- */
.page-id-45 .hp-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 1440px;
  margin: 5em auto; }

.page-id-45 .hp-service {
  width: 33%;
  text-align: center;
  padding: 2em 1em; }

.page-id-45 .hp-service:nth-child(odd) {
  background: #f7f7f7; }

.page-id-45 .hp-service h3 {
  margin-bottom: 1em; }

.client-logos-heading span {
  display: block;
  text-transform: uppercase;
  font-family: Asap;
  font-size: 2.6em;
  font-weight: 900;
  letter-spacing: 0;
  color: #802a2b; }

/* ----- PACKAGES ----- */
.services-page-packages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .services-page-packages .package-item {
    width: 100%;
    padding: 2em 1em; }
    .services-page-packages .package-item .package-item-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .services-page-packages .package-item .package-item-content .package-item-title-price,
      .services-page-packages .package-item .package-item-content .select-btn,
      .services-page-packages .package-item .package-item-content .package-item-disclaimer-needs-timeline {
        width: 100%; }
      .services-page-packages .package-item .package-item-content h2 {
        margin: 0; }
      .services-page-packages .package-item .package-item-content .package-item-price {
        font-size: 1.25em;
        font-weight: bold;
        color: #802a2b; }
      .services-page-packages .package-item .package-item-content .package-item-disclaimer {
        font-size: 0.9em;
        font-weight: normal; }
  .services-page-packages .package-item:nth-child(even) {
    background: #f7f7f7; }

/* CSS Document */
/* ------------------------------ LANDING PAGE ----- */
body.page-template-page-projects {
  background: #f7f7f7; }

.page-template-page-projects .content-area {
  margin: auto; }

.projects-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.project-row {
  width: 31%;
  width: 23%;
  position: relative;
  margin: 1em 1% 0.5em;
  overflow: hidden;
  -webkit-box-shadow: 0 0 15px 1px #ccc;
          box-shadow: 0 0 15px 1px #ccc; }
  .project-row .project-top-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    z-index: 2;
    background: #00B2CA;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .project-row:hover .project-info-wrap,
  .project-row:hover .project-top-border {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  .project-row:hover .project-main-image img {
    -webkit-transform: scale(1.15) translateY(-2em);
            transform: scale(1.15) translateY(-2em); }
  .project-row .post-edit-link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    background: #afb53b;
    color: #fff;
    z-index: 10; }
  .project-row .project-info-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #fff;
    background: #313131;
    color: #fff; }
    .project-row .project-info-wrap .project-info {
      padding: 0.5em 1em;
      text-align: center; }
    .project-row .project-info-wrap:before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 0;
      height: 0;
      border-top: 100vh solid transparent;
      border-right: 100vw solid #313131;
      border-left: 100vw solid transparent;
      border-bottom: 15vh solid #313131; }
  .project-row .project-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.project-main-image {
  line-height: 0; }

.project-main-image img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.project-title {
  font-weight: 700; }

.project-category {
  font-family: 'Lora'; }

.project-view {
  background: #00B2CA;
  color: #fff;
  width: 100%;
  font-size: 0.8em;
  padding: 0.5em 1em; }
  .project-view i {
    margin-left: 0.75em; }

/* ----- Gallery ----- */
.node-type-project .views-field-field-project-image {
  text-align: center; }

.node-type-project .views-field-field-project-image img {
  width: 100%;
  height: auto; }

/* --------------------------------------------- INDY PROJECT NODE -- */
.project-template-default h1 {
  margin-top: 0; }

.project-template-default .contentWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.project-template-default .content-area.has-sidebar {
  width: 60%; }

.project-template-default .sidebar-area {
  width: 40%;
  padding-left: 2.5em; }

.project-template-default .content-area .project-main-image img,
.project-template-default .project-desc-container {
  width: 100%; }

.project-template-default .content-area .project-main-image {
  line-height: 0;
  -webkit-box-shadow: 0 0 15px #ccc;
          box-shadow: 0 0 15px #ccc; }

/* ----- Project Info ----- */
.project-template-default h1 {
  font-size: 2.5em;
  line-height: 1.125em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.75em; }

.project-info h2:before,
.project-desc h2:before {
  margin-right: 0.5em;
  font-family: FontAwesome;
  color: #179bb6;
  color: #ccc;
  font-weight: 100; }

.project-desc {
  width: 980px;
  margin: 3em auto 0; }
  .project-desc p {
    line-height: 1.75em; }
  .project-desc h2:before {
    content: "\f115"; }

.project-info h2 {
  letter-spacing: 0; }
  .project-info h2:before {
    content: "\f016"; }

.projStat {
  font-weight: light !important; }

.projLabel {
  font-size: 1.25em;
  display: block;
  margin-bottom: 0.25em;
  color: #9DB876;
  color: #179bb6;
  font-weight: 100;
  font-family: "Oswald";
  letter-spacing: 1px; }

.projStat + .projLabel {
  margin-top: 1em; }

.projLabel + p {
  margin-top: 0.25em; }

.projSpecs {
  margin-top: 3em; }

.backToPort {
  width: 70%;
  display: block;
  position: relative;
  font-family: "Oswald";
  font-weight: 100;
  border: none;
  color: #fff;
  line-height: 1;
  background: #b59b39;
  padding: 1em;
  margin-top: 3em;
  transition: .2s;
  letter-spacing: 1.5px;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  overflow: hidden;
  border-radius: 50px; }
  .backToPort i {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 1.5rem;
    margin-top: -0.5em;
    left: -20em;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s; }
  .backToPort:hover {
    background: #92decd;
    color: #fff;
    padding: 1em 2% 1em 8%; }
    .backToPort:hover i {
      left: -5.5em;
      color: #fff; }

/* --------------------------------------------- SLICK SLIDER -- */
.slick-prev,
.slick-next {
  width: 60px !important;
  height: 60px !important; }

.slick-prev {
  left: -25px; }

.slick-next {
  right: -25px; }

.slick-prev:before,
.slick-next:before {
  font-family: FontAwesome !important;
  color: #e1cd83 !important;
  font-size: 60px !important;
  text-shadow: 1px 1px 2px #000; }

.slick-prev:before {
  content: "\f190" !important; }

.slick-next:before {
  content: "\f18e" !important; }

.slick-dots {
  bottom: 100% !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.slick-dots li button:before {
  font-size: 36px !important; }

.slick-dots .slick-active button::before {
  color: #e1cd83 !important;
  text-shadow: 1px 1px 2px #000; }

/* CSS Document */
/* ----------------------------------------------- LANDING PG --- */
.post-listing,
.post-listing .posts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.post-listing .post-item {
  margin-bottom: 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative; }

.blog .post-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 0 2px 20px #ccc;
          box-shadow: 0 2px 20px #ccc; }

@media (max-width: 1040px) {
  .post-item {
    width: 45%; } }
.blog .post-item + .post-item {
  margin-top: 1em; }

.blog .post-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.post-item-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5; }

.btn.blog-listing-edit {
  border-radius: 0;
  padding: 0.75em 1em;
  z-index: 6;
  color: #fff !important;
  position: absolute; }
  .btn.blog-listing-edit:hover {
    background: #92decd; }

.blog .post-listing-thumb,
.blog .post-item-content {
  width: 50%; }

.blog .post-item-content {
  padding: 1.5em; }

.post-listing .post-item h2 {
  font-size: 1.5em;
  line-height: 1.25;
  font-weight: 700;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase; }

.post-listing-thumb {
  font-size: 0;
  overflow: hidden; }

.post-listing .post-item img {
  -webkit-transition: 0.75s;
  transition: 0.75s;
  width: 100%; }

/*
.post-listing .post-item:hover img {
-webkit-filter: blur(2px); 
-moz-filter: blur(2px); 
-o-filter: blur(2px); 
-ms-filter: blur(2px); 
filter: blur(2px);
-ms-transform: scale(1.5);
-webkit-transform: scale(1.5);
transform: scale(1.5);
}
*/
.blog-listing-meta {
  margin: 0.5em 0 1em;
  padding-top: 0.5em;
  font-weight: normal; }

.blog-article-more {
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
  color: #b59b39;
  font-family: 'asap';
  font-weight: bold; }

/* --------------------------------------------- SIDEBAR -- */
.blog .sidebar-right ul,
.blog .sidebar-right ul li {
  list-style: none;
  padding: 0;
  margin: 0; }

.blog .sidebar-right ul li.cat-item:nth-child(odd) {
  background: #f7f7f7; }

.blog .sidebar-right ul li.cat-item {
  display: block;
  padding: 0.5em 1em; }

/* --------------------------------------------- TWITTER FEED -- */
.content-bottom .timeline-TweetList {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none; }

.widget.content-bottom .timeline-TweetList .timeline-TweetList-tweet {
  display: block !important;
  width: 30% !important; }

#twitter-widget-0 {
  display: none; }

/* CSS Document */
/* ----- GOOGLE FONT FAMILIES ----- */
/*
font-family: 'Oswald', sans-serif;
font-family: 'Lora', serif;
*/
/* ----- Reset all CSS ----- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, caption, tbody, tfoot, thead {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit; }

/* ----- CORE STYLES ----- */
:root {
  font-size: 18px;
  line-height: 1.75;
  letter-spacing: 2px; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none; }

body {
  color: #3b3b3b;
  font-weight: 100;
  margin: 0;
  font-family: 'Oswald', sans-serif; }

p {
  margin-top: 0; }

::-moz-selection {
  background: #22aba6;
  /* Firefox */ }

a {
  color: #b59b39;
  text-decoration: none;
  transition: color .3s;
  -moz-transition: color .3s;
  -webkit-transition: color .3s; }

a:hover {
  color: #92decd; }

.btn {
  color: #fff;
  background: #b59b39;
  display: inline-block;
  line-height: 1;
  padding: 1em 2em;
  border-radius: 50px; }

.btn:hover {
  color: #fff;
  background: #92decd; }

.views-field-edit-node a {
  position: absolute;
  background: #067ba5;
  color: #fff;
  padding: 5px 5px; }

.views-field-edit-node a:hover {
  background: #15b9de; }

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5em; }

h1,
#page-title {
  font-size: 3rem;
  line-height: 1em;
  font-weight: normal;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Lora', serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Asap'; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

img {
  max-width: 100%;
  height: auto !important; }

/* ----- OVERALL ----- */
.pageWrap {
  max-width: 1440px;
  margin: 0 auto; }

/* --------------------------------------------- TAGLINE/SOCIAL -- */
.tagline-social-wrap {
  background: #fff;
  padding: 0 1em; }

.tagline-social {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0.25em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.tagline {
  font-size: 0.9em;
  letter-spacing: 1px;
  color: #b59b39;
  position: relative;
  z-index: 5; }

/* ----------------------------------------------- SOCIAL --- */
.social a {
  font-size: 1.15em;
  margin: 0 0.25em;
  color: #d65050;
  position: relative;
  z-index: 5; }

.social-youtube:hover {
  color: #CD201F; }

.socialTwitter:hover {
  color: #55acee; }

.socialFacebook:hover {
  color: #3b5998; }

.socialPinterest:hover {
  color: #cc2127; }

.socialInstagram:hover {
  color: #eb6d20; }

/* --------------------------------------------- HEADER -- */
.site-header,
.site-header.float-header {
  margin: 0;
  padding: 0; }

.hdr-logo-contact-wrap {
  font-family: 'Oswald', sans-serif;
  padding: 0 1.5em; }

.hdr-logo-contact,
.hdr-contact-info,
.hdr-loc,
.hdr-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-wrap {
  padding: 1.25em 0; }

.header-wrap .col-md-4,
.header-wrap .site-logo {
  line-height: 0; }

.header-wrap .site-logo img {
  width: 110px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.site-logo img:hover {
  transform: rotate(20deg) scale(1.2);
  -moz-transform: rotate(20deg) scale(1.2);
  -webkit-transform: rotate(20deg) scale(1.2); }

/* --------------------------------------------- FEATURE -- */
.header-wrap-outer {
  position: relative;
  padding: 0 1.5em;
  background: #247BA0;
  background: #27484a; }

.feature-area {
  max-width: 1440px;
  margin: auto;
  min-height: 500px;
  padding: 8em 1.5em 22em; }

.feature-statement {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Asap";
  position: relative;
  z-index: 3;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff; }

span.statement-sect-2 {
  display: block;
  font-size: 0.65em;
  line-height: 1.2em;
  font-weight: 100;
  font-family: "Oswald"; }

.feature-area .btn {
  margin-top: 2em;
  background: #00B2CA; }
  .feature-area .btn:hover {
    background: #23C9FF;
    color: #fff; }

/* ---------- CONTENT ---------- */
.contentWrap {
  max-width: 1440px;
  padding: 4em 1.5em;
  margin: 0 auto 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.content-area {
  width: 100%; }

.content-area.has-sidebar {
  width: 66.6%; }

.sidebar-area {
  width: 33.3%;
  padding-left: 2em; }

.content-area p + p,
.sidebar-area p + p,
.footer p + p,
.prefooter * + p,
.content-bottom * + p {
  margin-top: 1em; }

/* ----- CONTENT BOTTOM ----- */
.content-bottom {
  margin: 0 auto; }

/* ---------- FOOTER ---------- */
.footer-wrap {
  background: #333;
  background: #1e212a; }

.footer-wrap p + p {
  margin-top: 1em; }

.footer {
  position: relative;
  max-width: 1440px;
  padding: 4em 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.footer-sect {
  width: 33%;
  padding: 0 1.5em;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* ----- Bio ----- */
.footer-about {
  color: #fff;
  font-weight: 100; }

/* --------------------------------------------- FOOTER CONTACT -- */
/* ----- CONTACT INFO ----- */
.footer-contact-info div,
.footer-about .logo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.footer-about .site-logo {
  width: 30%;
  max-height: none !important;
  height: auto !important;
  margin-right: 1.25em; }
  .footer-about .site-logo img {
    -webkit-transition: 0.2s;
    transition: 0.2s; }
.footer-about .site-logo-company {
  font-weight: bold; }
.footer-about .site-logo-company span {
  display: block;
  font-weight: 100;
  font-size: 0.9em; }

.footer-loc {
  margin-top: 1.5em; }

.footer-phone {
  margin-top: 1em; }

.footer-loc-icn,
.footer-phone-icn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-loc-icn i,
.footer-phone-icn i {
  font-size: 1.5em; }

p.footer-loc-text,
p.footer-phone-text {
  padding: 0 0.5em;
  margin-top: 0 !important;
  color: #fff;
  letter-spacing: 0.75px; }

.footer-contact-info span {
  display: block;
  font-weight: 100; }

/* ----------------------------------------------- COPYRIGHT --- */
.copyrightWrapOuter {
  background: #d65050;
  border-top: 1px solid #666;
  color: #ccc; }

.copyrightWrap {
  max-width: 1440px;
  margin: 0 auto; }

.copyright,
.crQuote {
  font-size: 0.9em;
  font-family: "Oswald", sans-serif;
  display: inline-block;
  vertical-align: top;
  width: 45.5%;
  padding: 1.5em; }

.crQuote {
  text-align: right; }

/*# sourceMappingURL=all.css.map */