@import 'bits';

/* CSS Document */

/* ----- GOOGLE FONT FAMILIES ----- */
/*
font-family: 'Oswald', sans-serif;
font-family: 'Lora', serif;
*/


/* ----- Reset all CSS ----- */
  
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, caption, tbody, tfoot, thead { 
	margin: 0;
	padding: 0; 
	outline: 0; 
	border: 0; 
	background: transparent; 
	vertical-align: baseline; 
	font-weight: inherit; 
	font-style: inherit; 
	font-size: 100%; 
	font-family: inherit; 
}


/* ----- CORE STYLES ----- */
:root {
font-size: 18px;
line-height: 1.75;
letter-spacing: 2px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
overflow-x: hidden;
-webkit-text-size-adjust: none;
}

body {
color: #3b3b3b;
//background: #797c8b;
font-weight: 100;
margin: 0;
font-family: 'Oswald', sans-serif;
//font-family: 'Lora', serif;
}

p {
margin-top: 0;	
}

::-moz-selection {
background: #22aba6; /* Firefox */
}

a {
color: $gold;
text-decoration: none;
transition: color .3s;
-moz-transition: color .3s;
-webkit-transition: color .3s;
}

a:hover {
color: $blue;
}

.btn {
	color: #fff; 
	background:$gold;
	display: inline-block;
	line-height: 1;
	padding: 1em 2em;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.btn:hover {
	color: #fff; 
	background:$blue;
}

.views-field-edit-node a {
position: absolute;
background: #067ba5;
color: #fff;
padding: 5px 5px;
}

.views-field-edit-node a:hover {
background: #15b9de;
}

h1,
h2,
h3 {
font-family: 'Oswald', sans-serif;
//font-family: 'Lora', serif;
//font-family: 'Asap';
letter-spacing: 2px;
font-weight: 700;
line-height: 1.5em;
font-weight: bold;
color: #333;
margin-bottom: 0.5em;
}

h1,
#page-title {
font-size: 3rem;
line-height: 1em;
font-weight: normal;
padding: 0;
text-transform: uppercase;
font-family: 'Lora', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Asap';
}

h2 {
font-size: 2rem;
}

h3 {
font-size: 1.5rem;
}

img {
max-width: 100%;
height: auto !important;
}


/* ----- OVERALL ----- */
.pageWrap {
max-width: 1440px;
margin: 0 auto;
}


/* --------------------------------------------- TAGLINE/SOCIAL -- */
.tagline-social-wrap {
background: #fff;
padding: 0 1em;
}


.tagline-social {
font-family: 'Oswald', sans-serif;
font-weight: 100;
position: relative;
max-width: 1320px;
margin: 0 auto;
padding: 0.25em 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.tagline {
font-size: 0.9em;
letter-spacing: 1px;
color: #b59b39;
position: relative;
z-index: 5;
}


/* ----------------------------------------------- SOCIAL --- */
.social a {
font-size: 1.15em;
margin: 0 0.25em;
color: #d65050;
position: relative;
z-index: 5;
}


.social-youtube:hover { color: #CD201F; }
.socialTwitter:hover { color: #55acee; }
.socialFacebook:hover { color: #3b5998; }
.socialPinterest:hover { color: #cc2127; }
.socialInstagram:hover { color: #eb6d20; }



/* --------------------------------------------- HEADER -- */
.site-header,
.site-header.float-header {
	margin: 0;
	padding: 0;
}

.hdr-logo-contact-wrap {
font-family: 'Oswald', sans-serif;	
padding: 0 1.5em;
}

.hdr-logo-contact,
.hdr-contact-info,
.hdr-loc,
.hdr-phone {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;	
}

.header-wrap {
	padding: 1.25em 0;
}

.header-wrap .col-md-4,
.header-wrap .site-logo {
	line-height: 0;
}

.header-wrap .site-logo img {	
width: 110px;
transition: 0.2s;
}

.site-logo img:hover {
transform:rotate(20deg) scale(1.2);
-moz-transform:rotate(20deg) scale(1.2);
-webkit-transform:rotate(20deg) scale(1.2);
}


/* --------------------------------------------- FEATURE -- */
.header-wrap-outer {
//background: #fff url(/wp-content/themes/tjrogersdesign/images/hp-hdr-hero.jpg) top center no-repeat;
//background-size: cover;
position: relative;
padding: 0 1.5em;
background: #247BA0;
background: #27484a;
}

.feature-area {
max-width: 1440px;
margin: auto;
//color: #fff;
min-height: 500px;
padding: 8em 1.5em 22em;
//padding: 3em 1.5em 1em;
}

.feature-statement {
	font-size: 3rem;
	font-weight: 900;
	text-transform: uppercase;
	font-family: "Asap";
	position: relative;
	z-index: 3;
	transform: translateY(-50%);
	color: #fff;
}
							
span.statement-sect-2 {
display: block;
font-size: 0.65em;
line-height: 1.2em;
font-weight: 100;
font-family: "Oswald";
}

.feature-area .btn {
	margin-top: 2em;	
	background: #00B2CA;

	&:hover {
		background: #23C9FF;
		color: #fff;
	}
}


/* ---------- CONTENT ---------- */
.contentWrap {
max-width: 1440px;
padding: 4em 1.5em;
margin: 0 auto 3em;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
}

.content-area {
width: 100%;
}

.content-area.has-sidebar {
width: 66.6%;
}

.sidebar-area {
width: 33.3%;
padding-left: 2em;
}


.content-area p + p,
.sidebar-area p + p,
.footer p + p,
.prefooter * + p,
.content-bottom * + p {
margin-top: 1em;
}


/* ----- CONTENT BOTTOM ----- */
.content-bottom {
//max-width: 1320px;
margin: 0 auto;
}



/* ---------- FOOTER ---------- */
.footer-wrap {
	background: #333;
	background: #1e212a;
}

.footer-wrap p + p {
	margin-top: 1em;
}

.footer {
position: relative;
max-width: 1440px;
padding: 4em 0;
margin: auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: stretch;
}

.footer-sect {
width: 33%;
padding: 0 1.5em;
display: flex !important;
flex-direction: column;
flex-wrap: wrap;
justify-content: stretch;
align-items: center;
}


/* ----- Bio ----- */
.footer-about {
color: #fff;
font-weight: 100;
}


/* --------------------------------------------- FOOTER CONTACT -- */
/* ----- CONTACT INFO ----- */
.footer-contact-info {
}

.footer-contact-info div,
.footer-about .logo-name {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
width: 100%;
}

.footer-about {

	.site-logo {
		width: 30%;
		max-height: none !important;
		height: auto !important;
		margin-right: 1.25em;

		img {
			transition: 0.2s;
		}
	}

	.site-logo-company {
		font-weight: bold;
	}

	.site-logo-company span {
		display: block;  
		font-weight: 100;
		font-size: 0.9em;
	}
}

.footer-loc {
	margin-top: 1.5em;
}

.footer-phone {
	margin-top: 1em;
}

.footer-loc-icn,
.footer-phone-icn {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.footer-loc-icn,
.footer-phone-icn {
	i {
		font-size: 1.5em;
	}
}

p.footer-loc-text,
p.footer-phone-text {
padding: 0 0.5em;  
margin-top: 0 !important;
color: #fff;
letter-spacing: 0.75px;
}

.footer-contact-info span {
display: block;  
font-weight: 100;
}


/* ----------------------------------------------- COPYRIGHT --- */
.copyrightWrapOuter {
background: #d65050;
border-top: 1px solid #666;
color: #ccc;
}

.copyrightWrap {
max-width: 1440px;
margin: 0 auto;
}

.copyright,
.crQuote {
font-size: 0.9em;
font-family: "Oswald", sans-serif;
//letter-spacing: 1px;
display: inline-block;
vertical-align: top;
width: 45.5%;
padding: 1.5em;
}

.crQuote {
text-align: right;
}


