@import 'bits';

/* CSS Document */

/* ----- TOP NAV ----- */
.top-nav-wrap {
margin-bottom: -1.75em;
position: relative;
z-index: 3;
padding: 0 1.5em;
}

.top-nav {
max-width: 1440px;
margin: auto;
}

.top-nav .menu {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;	
background: #19656a;
background: #22a4ac;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
border-radius: 100px;
background: #27484a;
background: #27353c
}

.top-nav .menu {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		margin: 0;
		padding: 0;

		a {
			display: inline-block;
			vertical-align: top;
			font-size: 0.8em;
			padding: 1.5em 1.25em 1.5em 1.75em;
			color: #fff;
			font-weight: 100;
			text-transform: uppercase;
			font-family: 'Oswald';
			letter-spacing: 2.5px;

			&:hover {
				color: #e1cd83;	
			}
		}

		&.about {
			// margin-left: auto !important;

			a {
				color: #fff;
				//background: $gold;
				//font-weight: 500 !important;
				-moz-border-radius: 100px 0 0 100px;
				-webkit-border-radius: 100px 0 0 100px;
				border-radius: 100px 0 0 100px;
			}
		}

		&.contact {
			margin-left: auto !important;

			a {
				color: #fff;
				background: $gold;
				font-weight: 500 !important;
				-moz-border-radius: 0 100px 100px 0;
				-webkit-border-radius: 0 100px 100px 0;
				border-radius: 0 100px 100px 0;

				&:hover {
					background: $blue !important;
				}
			}
		}

		&.current-menu-item a {
			background: $blue;

			&:hover {
				color: #fff;	
			}
		}
	}
}

.single-project .top-nav .menu-item-58 a {
	background: $blue;

	&:hover {
		color: #fff !important;
	}
}


/* ---------- FOOTERNAV ---------- */
.footer-menu {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		list-style: none;
		padding: 0;
		margin: 0;
		
		a {
			display: block;
			font-family: "Oswald";
			padding: 0.25em 0.75em 0.25em 0;
			transition: .3s;
			-moz-transition: .3s;
			-webkit-transition: .3s;
		}
	}
}

.footer-menu li a:hover,
.footer-menu .current-menu-item a,
.single-project .footer-menu .menu-item-58 a {
	color: $blue;
}

.footerNav .menu li .home:hover,
.footerNav .menu li .home.active:hover {
border-left: 0.5em solid #11505D;
border-right: 7em solid #11505D;
padding: 0.25em 0.75em;
border-right: 2em solid #11505D;
}

.footerNav .menu li .home.active {
border: none;
padding: 0.25em 0.75em 0.25em 0;
}


