@import 'bits';

/* CSS Document */

/* ------------------------------ LANDING PAGE ----- */
body.page-template-page-projects {
	background: #f7f7f7;
}

.page-template-page-projects .content-area {
	//max-width: 980px;
	margin: auto;
}

.projects-listing {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: stretch;
align-items: stretch;
}

.project-row {
	width: 31%;
	width: 23%;
	position: relative;
	margin: 1em 1% 0.5em;
	overflow: hidden;
	box-shadow: 0 0 15px 1px #ccc;

	.project-top-border {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 7px;
		z-index: 2;
		background: $darkblue;
		//background: $gold;
		transform: translateY(-150%);
		transition: 0.3s;
	}

	&:hover {

		.project-info-wrap,
		.project-top-border {
			transform: translateY(0%);
		}

		.project-main-image img {
			transform: scale(1.15) translateY(-2em);
		}

	}

	.post-edit-link {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.5em 1em;
		background: #afb53b;
		//font-size: 3em;
		color: #fff;
		z-index: 10;
	}

	.project-info-wrap {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;
		transform: translateY(150%);
		transition: 0.4s;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		background: #fff;
		background: #313131;
		color: #fff;

		.project-info {
			padding: 0.5em 1em;
			text-align: center;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 0;
			height: 0;
			border-top: 100vh solid transparent;
  			border-right: 100vw solid #313131;
  			border-left: 100vw solid transparent;
  			border-bottom: 15vh solid #313131;
  		}
	}

	.project-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.project-main-image {
	line-height: 0;
}

.project-main-image img {
	width: 100%;
	transition: 0.5s;
}

.project-title {
	font-weight: 700;
}

.project-category {
	//font-size: 0.9em;
	font-family: 'Lora';
}

.project-view {
	//text-align: center;
	background: $darkblue;
	//background: $gold;
	color: #fff;
	width: 100%;
	font-size: 0.8em;
	padding: 0.5em 1em;

	i {
		margin-left: 0.75em;
	}
}


/* ----- Gallery ----- */
.node-type-project .views-field-field-project-image {
text-align: center;
}

.node-type-project .views-field-field-project-image img {
width: 100%;
height: auto;
}


/* --------------------------------------------- INDY PROJECT NODE -- */
.project-template-default h1 {
margin-top: 0;
}

.project-template-default .contentWrap {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: stretch;
}

.project-template-default .content-area.has-sidebar {
width: 60%;
}

.project-template-default .sidebar-area {
width: 40%;
padding-left: 2.5em;
}

.project-template-default .content-area .project-main-image img,
.project-template-default .project-desc-container {
width: 100%;
}

.project-template-default .content-area .project-main-image {
//padding: 0.5em;
//background: #f7f7f7;
line-height: 0;
box-shadow: 0 0 15px #ccc;
}


/* ----- Project Info ----- */
.project-template-default h1 {
font-size: 2.5em;
line-height: 1.125em;
padding-bottom: 0.5em;
border-bottom: 1px solid #ccc;
margin-bottom: 0.75em;
}

.project-info h2:before,
.project-desc h2:before {
margin-right: 0.5em;
font-family: FontAwesome;
color: #179bb6;
color: #ccc;
font-weight: 100;
}

.project-desc {
	width: 980px;
	margin: 3em auto 0;

	p {
		line-height: 1.75em;
	}

	h2:before {
		content: "\f115";
	}
}

.project-info h2 {
	letter-spacing: 0;

	&:before {
		content: "\f016";
	}
}

.projStat {
font-weight: light !important;
}

.projLabel {
font-size: 1.25em;
display: block;
margin-bottom: 0.25em;
color: #9DB876;
color: #179bb6;
font-weight: 100;
font-family: "Oswald";
letter-spacing: 1px;
}

.projStat + .projLabel {
margin-top: 1em;
}

.projLabel + p {
margin-top: 0.25em;
}

.projSpecs {
margin-top: 3em;
}

.backToPort {
	width: 70%;
	display: block;
	//text-align: center;
	position: relative;
	font-family: "Oswald";
	font-weight: 100;
	border: none;
	color: #fff;
	line-height: 1;
	background: $gold;
	padding: 1em;
	margin-top: 3em;
	transition: .2s;
	letter-spacing: 1.5px;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	overflow: hidden;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;

	i {
		position: absolute;
		top: 50%;
		color: #fff;
		font-size: 1.5rem;
		margin-top: -0.5em;
		left: -20em;
		transition: .3s;
		-moz-transition: .3s;
		-webkit-transition: .3s;
	}

	&:hover {
		background: $blue;
		color: #fff;
		padding: 1em 2% 1em 8%;

		i {
			left: -5.5em;
			color: #fff;
		}
	}
}



/* --------------------------------------------- SLICK SLIDER -- */
.slick-prev,
.slick-next {
width: 60px !important;
height: 60px !important;
}

.slick-prev {
left: -25px;
}

.slick-next {
right: -25px;
}

.slick-prev:before,
.slick-next:before {
font-family: FontAwesome !important;
color: #e1cd83 !important;
font-size: 60px !important;
text-shadow: 1px 1px 2px #000;
}

.slick-prev:before {
content: "\f190" !important;
}

.slick-next:before {
content: "\f18e" !important;
}

.slick-dots {
bottom: 100% !important;
left: 50%;
transform: translateX(-50%);
}

.slick-dots li button:before {
font-size: 36px !important;
}

.slick-dots .slick-active button::before {
color: #e1cd83 !important;
text-shadow: 1px 1px 2px #000;
}
