@import 'bits';

/* CSS Document */
/* --------------------------------------------- CONTENT SECTION -- */
.home .contentWrap,
.home .content-area {
	margin-bottom: 0;
}


/* --------------------------------------------- HP SERVICES SECTION -- */
p.more-articles-link,
p.more-projects-link,
p.more-clients-link {
	text-align: center;
	width: 100%;
	margin-top: 3em;
}

p.more-articles-link a,
p.more-projects-link a,
p.more-clients-link a {
	transition: 0.3s;
}


/* --------------------------------------------- HP SERVICES SECTION -- */
.hp-services-container h2,
.post-listing h2,
.projects-listing h2 {
	text-align: center;
	margin-bottom: 1em;
	width: 100%;
}

.hp-services-container h2 {
	font-weight: 500;
	letter-spacing: 5px;
}

.hp-services-container h2 span {
	display: block;
	text-transform: uppercase;
	font-family: Asap;
	font-size: 2.6em;
	font-weight: 900;
	color: #35da9e;
}

.hp-services-container {
	max-width: 1440px;
	margin: 0 auto 3em;
	margin-top: -6em;
	padding: 4em 1.5em;
	background: #fff;
	z-index: 4;
	position: relative;
	box-shadow: 0 2px 20px #777;
	//color: #fff;
}

.hp-services,
.hp-service {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}

.hp-service {
	align-items: flex-start;
	padding: 1.5em 0.5em;
	font-size: 0.9em;

}

.hp-service,
.hp-service-sect {
	width: 50%;
}

.hp-service-sect {
	padding: 0.25em;
}

.hp-service-sect-image {
	width: 25%;
	padding-right: 0.5em;
}

.hp-service-sect-description {
	width: 75%;
}

.hp-service h3 {
	position: relative;
	margin-bottom: 1em;
	//color: #fff;
}

.hp-service h3:before {
	position: absolute;
	top: 110%;
	left: 0;
	content: '';
	width: 20%;
	width: 2em;
	height: 0.25em;
	background: #35da9e;
}


/* --------------------------------------------- HP PROJECTS LISTING -- */
.projects-listing-container {
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 0;
		height: 0;
		border-bottom: 10vh solid transparent;
		border-left: 100vw solid #fff;
		border-right: 100vw solid transparent;
		border-top: 10vh solid #fff;
		z-index: 5;
		pointer-events: none;
	}
}

.projects-listing h2 {
	font-weight: 500;
	letter-spacing: 13px;
}

.projects-listing h2 span {
	display: block;
	text-transform: uppercase;
	font-family: Asap;
	font-size: 2.6em;
	font-weight: 900;
	letter-spacing: -2px;
	color: #142a41;
}

.projects-listing {
	max-width: 1440px;
	margin: auto;
}

.home .more-projects-link {
	margin-top: 4em;
}

.project-row {
	width: 31%;
}

@media (max-width: 1040px) {
	.project-row {
		width: 45%;
	}
}


/* --------------------------------------------- HP BLOG SECTION -- */
.home .post-listing-container {
	background: #f6a039;
	background: #212121;
	padding: 17em 1.5em 12em;
	position: relative;
}

.home .post-listing-container:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	z-index: 0;
	background: #ccc url(/wp-content/themes/tjrogersdesign/images/bkd-hp-blog.jpg);
	background-size: cover;
	opacity: 0.3;
}

.home .post-listing {
	max-width: 1440px;
	margin: auto;
}

.home .post-listing .posts-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}

.home .post-listing-heading {
	font-weight: 500;
	letter-spacing: 3px;
	color: #35da9e;
	color: #f6a039;
}

.home .post-listing-heading span {
	display: block;
	text-transform: uppercase;
	font-family: Asap;
	font-size: 4.5rem;
	font-weight: 900;
	letter-spacing: 5px;
	color: #f6a039;
	color: #fff;
}

.home .post-listing-heading {
	margin-bottom: 2em;
}

.home .post-item {
	width: 32%;
	//width: 49%;
	background: #fff;
}

@media (max-width: 1040px) {
	.home .post-item {
		width: 45%;
	}
}

.post-item h2.blog-listing-title {
	text-align: left;
	margin-bottom: 1em;
}

.post-listing-thumb {
	//width: 30%;
}

.post-item-content {
	padding: 1.5em;	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-end;
	height: 100%;
}

.post-item-article-text {
	font-size: 0.9em;
}
 
.home .blog-listing-meta {
	margin: 0;
	padding-top: 0;
	font-weight: 100;
	font-style: italic;
	font-size: 0.9em;
	color: #aaa;
}

.home .post-item a {
	font-weight: normal;
}

.home .post-listing h2,
.home .more-articles-link {
	position: relative;
}

.home .more-articles-link {
	margin-top: 4em;
}

.home .more-articles-link .btn {
	background: $darkblue;
}


/* --------------------------------------------- CLIENT SECTION -- */
.client-listing-container {
		padding: 3em 1.5em 5em;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 0;
			height: 0;
			border-top: 100vh solid transparent;
			border-right: 100vw solid #fff;
			border-left: 100vw solid transparent;
			border-bottom: 15vh solid #fff;
			pointer-events: none;
		}
}

.client-listing {
	max-width: 1440px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-items: center;
}

.client-logos-heading,
.testimonials-container {
	width: 50%;
	padding: 0 1em;
}

.client-logos-heading {
	width: 35%;
}

.testimonials-container {
	width: 65%;
}

.testimonial {
	position: relative;
	font-size: 1.125em;
	
	i {
		position: absolute;
		color: #f7f7f7;
		z-index: -1;
		transform: scale(5);
	}

	.fa-quote-left {
		top: 50%;
		left: 50%;
		transform: scale(15) translateX(-15%);
	}

	.fa-quote-right {
		bottom: 0;
		right: 0;
		display: none;
	}

	.tesitmonial-author {
		font-weight: bold;
	}

	.tesitmonial-author-info {
		font-weight: normal;
		line-height: 1;
		font-size: 0.9em;
		font-style: italic;
		//color: #aaa
	}
}

.client-logos-container {
	//background: #ccc;
	width: 100%;
}

.client-logos-container {
	margin-top: 4em;
	border-top: 2px solid #ddd;
	padding-top: 4em;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.client-logos-heading {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.client-logos-heading h2 {
	font-weight: 500;
	letter-spacing: 10px;
}

.client-logos-heading span {
	display: block;
	text-transform: uppercase;
	font-family: Asap;
	font-size: 2.6em;
	font-weight: 900;
	letter-spacing: 0;
	color: #802a2b;
}

.more-clients-link {
	width: 100%;
}

.client-logo {
	width: 28%;
	width: 13%;
	padding: 1.25em;
	margin: 0.5em;
	line-height: 0;
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
	transition: 0.3s;
	opacity: 0.3;
}

.client-logo:hover {
	transform: scale(1.15) rotate(3deg);
	-webkit-filter: grayscale(0);
	-webkit-filter: grayscale(0);
	filter: none;
	filter: grayscale(0);
	opacity: 1;
}

